/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(39,102,204);

  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: #F0F5FC;
  /* darkest grey - used for headings */
  --clr-grey-1: rgb(240,240,240);

  /* grey used for paragraphs */

  --clr-grey-2: rgb(110, 113, 117);
  --clr-grey-3: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-yellow: rgb(248,222,76);
  --clr-black: rgb(0,0,0);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black-2: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-primary-1);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/* 
=================
HEADER
=================
 */

 header{
   display: grid;
   grid-template-rows: 3rem 7rem;
   background: var(--clr-white);
   border-bottom: 1px solid var(--clr-grey-1);
 }
.first-header{
  background: var(--clr-primary-1);
  color: var(--clr-white);
}
.section-firtst{
  height: 100%;

  display: grid;
  align-items: center;
}
.section-second{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: green; */
  height: 100%;
  align-items: center;
}

.first-sub-header{
  display: flex;
}
.home-icon-wrapper{
  height: 4rem;
  width: 4rem;
  background: var(--clr-grey-1);
  display: grid;
  place-items: center;
  border-radius: 50%;
  margin-right: 1rem;

}
.home-icon{
  font-size: 2rem;
  color: var(--clr-grey-2);
}
.text-wraper{
  display: none;
  align-self: center;
}
.text-wraper h4{
  color: var(--clr-grey-2);
  margin-top: 1rem;
  text-transform: capitalize;
}
.text-wraper p{
  color: var(--clr-grey-2);
  text-transform: capitalize;
}
.second-sub-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--clr-grey-2);
  column-gap: 3rem;

}

.bag-wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: end;
}
.account-wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;

}
@media screen and (min-width: 765px){
  .text-wraper{
 display: block;
  }
  .second-sub-header span {

    margin-left: 1rem;
  }
  .bag-wrapper, .account-wrapper{
    /* align-items: center;
    display: flex; */
    flex-direction: row;
    
  }
}


/* 
=========
FOOTER
=========
 */
 footer{
   display: grid;
   grid-template-rows: 10rem 13rem;

 }
 .first-section-footer{
   background: var(--clr-primary-1);
 }
 .section-footer-logo{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   align-items: center;
   height: 100%;
 }
 .footer-icon{
   color: var(--clr-yellow) !important;
   font-size: 3rem;
 }
 .single-footer-icon{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .single-footer-icon h4{
   margin-top: 1rem;
   color: var(--clr-white);
   text-transform: capitalize;
   font-weight: 300;
 }
 .second-section-footer{
   /* background:pink; */
   display: grid;
   justify-content: center;
   /* align-items: center; */
 }
 .second-section-footer h4{
   font-weight: 300;
   margin-top: 1rem;
   text-align: center;
  }
  .second-section-footer h3{
    text-align: center;
  }
  .second-section-footer p{
   font-weight: 300;
   color: var(--clr-black);
   text-align: center;
 }
 .footer-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--clr-green-dark);
   border :0;
   width: 9rem;
   justify-self: center;
   padding: 1rem;
   margin-bottom: 1rem;
 }
 .whatsapp{
   margin-right: .5rem;
 }

 /* 
 ========
 HOME
 ========
  */
  .section-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: calc(100vh - 10rem);
  }
  .left-side{
    border-right: 1px solid var(--clr-grey-1);
    /* background: red; */
  }
  .right-side{
    /* background: green; */
  }
  .middle-side{
    display: grid;
    row-gap: .2rem;
    border-right: 1px solid var(--clr-grey-1);
    /* background: grey; */
  }
  .product-lists{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  .product-item{
  }
  .product-item a{
    padding: 10px 0;
    display: inline-block;
    width: 100% !important;
    height: 100% !important;
    color:  var(--clr-grey-2);
  }
  .product-item a:hover{
    color:  var(--clr-primary-1);
  }
  .active-item{
    background:  var(--clr-primary-9);
    color:  var(--clr-primary-1) !important;
    /* opacity: 0.2;  */
    border-right: 9px solid var(--clr-primary-1) ;

  }
  .view-item{
    color: var(--clr-primary-1);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-transform: initial;


  }
  .arrow{
    margin-left: 1rem;
  }
  
  .single-product-wrapper{
    transform: translateY(-2.5rem);
    width: 90%;
    margin: 1rem auto;
    height: 7rem;
    display: grid;
    /* background: green; */
    row-gap: 0;
    /* border-bottom: 1px solid blue; */

  }
  .search-wrapper{
    display: flex;
    width: 100%;
    height: 2.4rem;
    position: relative;
    /* background: blue; */
  }
  .search-wrapper input{
    width: 90%;
    height: 2.3rem;
    background: var(--clr-grey-1);
    border: 0;
    border-bottom-left-radius: var(--radius);
    border-top-left-radius: var(--radius);
  }
  .search-btn{
    height: 2.3rem;
    background: var(--clr-yellow);
    border:0;
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
    width: 10%;
    font-size: 1rem;
    color: var(--clr-primary-1);
  }
  .product-title-wrapper{
    /* justify-self: start; */
    /* background: red; */
    display: grid;
    /* align-items: start; */
  }
  .product-title-wrapper span{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    /* display: ; */
  }
  .product-title-wrapper button{
    font-size: 1rem;
    background: blue;
    color: var(--clr-white);
    border-radius: var(--radius);
    border: 0;
    width: 2rem;
    height: 2rem;
    /* padding: 5px; */
  }
  .firt-product{
    display: flex;
    flex-direction: column;
  }
  .other-product{
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto 5rem;
  }
  .product-img{
    width: 6rem;
    height: 7rem;
    border-radius: var(--radius);
  }
  .product-img-wrapper{
    display: flex;
  }
  .product-text{
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 1rem; */
    margin: auto 1rem;
  }
  .product-text h4{
    font-size: 1rem;
  }
  .product-text p{
    color: var(--clr-black-2);
    font-weight: 100;
  }
  .add-button-wrapper{
    display: grid;
    align-items: end;
  }
  .add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: var(--clr-primary-1);
    background: transparent;
    border:1px solid var(--clr-primary-1);
    border-radius: var(--radius);
  }

  /* 
  ============
  RIGTH
  ============
   */
   .right-side{
     display: flex;
     flex-direction: column;
     /* place-items: center; */
     align-items: center;
   }
   .right-product-title-wrapper span{
     margin-top: 3rem;
     /* margin-left: 2rem; */
     font-size: 1.5rem;
     justify-self: flex-start;
     text-align: left;
     align-self: flex-start;
   }
   .smiley-icon{
     width:  8rem;
     height: 8rem;
     text-align: center;
   
     margin-top:  5rem;
   }
   .right-side h4{
     margin-top: 2rem;
     margin-bottom: 0rem;
     text-align: center;
     /* margin: 2rem auto; */
     align-self: center;
    }
    .right-side p{
     max-width: 13rem;
     text-align: center;
     /* margin: 1rem 2rem; */
     color: var(--clr-black-2);
   }
